<main class="main-wrap">
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Products List</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div>
        <a href="/admin/add-product" class="btn btn-primary btn-sm rounded">Create new</a>
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col col-check flex-grow-0">
            <div class="form-check ms-2">
              <input class="form-check-input" type="checkbox" value="">
            </div>
          </div>
          <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
            <select class="form-select">
              <option selected>All category</option>
              <option>Electronics</option>
              <option>Clothes</option>
              <option>Automobile</option>
            </select>
          </div>
          <div class="col-md-2 col-6">
            <input type="date" value="02.05.2021" class="form-control">
          </div>
          <div class="col-md-2 col-6">
            <select class="form-select">
              <option selected>Status</option>
              <option>Active</option>
              <option>Disabled</option>
              <option>Show all</option>
            </select>
          </div>
        </div>
      </header> <!-- card-header end// -->
      <div id="productsContainer" class="card-body">
        {{#each product}}
        <article class="itemlist">
          <div class="row align-items-center">
            <div class="col col-check flex-grow-0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
              <a class="itemside" href="#">
                <div class="left">
                  <img src="/{{this.product_images.[0].path}}" class="img-sm img-thumbnail" alt="Item">
                </div>
                <div class="info">
                  <h6 class="mb-0">{{this.product_name}}</h6>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>${{this.product_price}}</span> </div>
            <div class="col-lg-2 col-sm-2 col-4 col-status">
              {{#if this.product_status}}
              <span class="badge rounded-pill alert-success">Listed</span>
              {{else}}
              <span class="badge rounded-pill alert-danger">Unlisted</span>
              {{/if}}
            </div>
            <div class="col-lg-1 col-sm-2 col-4 col-date">
              <span>{{this.product_quantity}} nos</span>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
              <a href="/admin/edit-product/{{this._id}}" class="btn btn-sm font-sm rounded btn-brand">
                <i class="material-icons md-edit"></i> Edit
              </a>
              {{#if this.product_status}}
              <button data-product="{{this._id}}" class="btn btn-sm font-sm btn-light rounded product">
                <i class="material-icons md-delete_forever"></i> Disable
              </button>
              {{else}}
              <button data-product="{{this._id}}" class="btn btn-sm font-sm btn-light rounded product">
                <i class="material-icons md-delete_forever"></i> Enable
              </button>
              {{/if}}
            </div>
          </div> <!-- row .// -->
        </article> <!-- itemlist  .// -->
        {{/each}}
      </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
      <nav aria-label="Page navigation example">
        <ul id="paginationContainer" class="pagination justify-content-start">
        </ul>
      </nav>
    </div>
  </section> <!-- content-main end// -->
</main>

<script>

  $(document).ready(function () {
    $(".product").click(function () {
      const productId = $(this).data('product');
      swal("Are you sure you want to do this?", {
        buttons: ["NO", "YES"],
      }).then((result) => {
        if (result) {
          $.ajax({
            url: "/admin/changeProductStatus/" + productId,
            method: 'patch',
          }).done((res) => {
            swal("Good job!", "You clicked the button!", "success").then(() => {
              location.reload();
            })
          }).fail((err) => {
            swal("Error", "Somthing went wrong", "error")
          })
        }
      })
    })
  })
</script>
<script>
  $(document).ready(function () {
    const itemsPerPage = 5;
    const numItems = $('#productsContainer').children().length;
    const numPages = Math.ceil(numItems / itemsPerPage);

    // Create pagination links
    $('<li class="page-item"><a id="leftToggle" class="page-link" href="#"><i class="material-icons md-chevron_left"></i></a></li>').appendTo('#paginationContainer')

    for (let i = 1; i <= numPages; i++) {
      $(`<li class="page-item"><a class="page-link  pageLink" data-page="${i}" href="#">${i}</a></li>`).appendTo('#paginationContainer');
    }

    $('<li class="page-item"><a id="rightToggle" class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>').appendTo('#paginationContainer')

    // Bind click event to pagination links
    $('.pageLink ').click(function (e) {
      const currentPage = $(this).data('page');
      const startIndex = (currentPage - 1) * itemsPerPage;
      const endIndex = startIndex + itemsPerPage;

      $('#productsContainer').children().hide().slice(startIndex, endIndex).show();
      return false;
    })
    // Show first page by default
    $('.pageLink:first').addClass('active');
    $('#productsContainer').children().hide().slice(0, itemsPerPage).show();

    const numLinkPerPage = 3;
    const numLinkItems = $('#paginationContainer').children().length;
    const numLinkPages = Math.ceil(numLinkItems / numLinkPerPage);
    console.log(numLinkPages);

    $('#leftToggle').click((e)=>{
      console.log('clicked-left')
      const currentToggle = $
    })

     $('#rightToggle').click((e)=>{
      console.log('clicked-right')
    })

    {{!-- $('.pageLink:first').addClass('active'); --}}
    $('#paginationContainer').children().hide().slice(0, itemsPerPage).show();
  })
</script>