<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>
                <p>List, Unlist or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                         {{#if otpStatus}}
                            <div class="alert alert-success" role="alert">
                                {{otpStatus}}
                            </div>
                            {{/if}}
                            {{#if otpLoginErr}}
                            <div class="alert alert-danger" role="alert">
                                {{otpLoginErr}}
                            </div>
                            {{/if}}
                        <form action="/admin/add-category" method="post">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" name="category" placeholder="Type here" class="form-control" id="product_name" />
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Create category</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th>
                                        <th>Sl.No</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each category}}
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td>
                                        <td>{{@index}}</td>
                                        <td><b>{{this.category_name}}</b></td>
                                        {{#if this.category_view}}
                                        <td>Listed</td>
                                        {{else}}
                                        <td>Unlisted</td>
                                        {{/if}}
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> <i
                                                        class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    {{#if this.category_view}}
                                                    <a class="dropdown-item" href="/admin/unlist-category/{{this._id}}"
                                                        onclick="return confirm('Do you want to list this category {{this.category_name}}')">Unlist</a>

                                                    {{else}}
                                                    <a class="dropdown-item" href="/admin/list-category/{{this._id}}"
                                                        onclick="return confirm('Do you want to list this category {{this.category_name}}')">List</a>

                                                    {{/if}}


                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div> <!-- dropdown //end -->
                                        </td>
                                        {{/each}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->
</main>