<!-- new user header -->

<header class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>

                            {{#if user}}

                            {{else}}
                            <li><i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="#">
                            <input type="text" placeholder="Search for items...">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            {{#if user}}
                            <div class="header-action-icon-2">
                                <ul class="nav">
                                    <li class="dropdown nav-item">
                                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                            id="dropdownAccount" aria-expanded="false"> <img
                                                class="img-xs rounded-circle" src="/{{user.userProfile}}" alt="User"></a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                            <a class="dropdown-item" href="/user-profile-edit"><i
                                                    class="material-icons md-perm_identity"></i>Edit
                                                Profile</a>
                                            <a class="dropdown-item" href="/user/user-details"><i
                                                    class="material-icons md-settings"></i>Account Settings</a>
                                            <a class="dropdown-item" id="walletButton" href="#"><i
                                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="material-icons md-receipt"></i>Billing</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="material-icons md-help_outline"></i>Help center</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger logout" href="#"><i
                                                    class="material-icons md-exit_to_app"></i>Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {{/if}}
                            <div class="header-action-icon-2">
                                <a href="/user-wishlist">
                                    <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                    {{#if wishlistCount}}
                                    <span class="pro-count blue">{{this.wishlistCount}}</span>
                                    {{/if}}
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/api/cart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                    {{#if cartCount}}
                                    <span id="cartCount" class="pro-count blue">{{cartCount.totalQty}}</span>
                                    {{/if}}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="/"><img src="/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">

                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a class="active" href="/">Home</a>

                                </li>
                                <li><a href="/product-view">Shop</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/user-wishlist">
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/api/cart">
                            </a>
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="/imgs/theme/logo.svg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="/product-view">shop</a>
                        </li>

                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    {{#if user}}
                    <a href="/logout">Logout</a>
                    {{else}}
                    <a href="/login">Log In / Sign Up </a>
                    {{/if}}
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<style>
    #myModal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 9999;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }

    .modal {
        max-width: 100%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>My Wallet</h1>
        <p>Balance: ₹<span id="walletBalance"></span></p>
        <h2>Transaction History</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>March 1, 2023</td>
                    <td>Product Purchase</td>
                    <td>-$50.00</td>
                </tr>
                <tr>
                    <td>February 28, 2023</td>
                    <td>Deposit</td>
                    <td>$150.00</td>
                </tr>
                <!-- Add more transaction history rows here -->
            </tbody>
        </table>
        <input style="visibility: hidden;" type="text" value="{{user._id}}" data-user="{{user._id}}" id="userId">
    </div>
</div>
<script>
    $(document).ready(function () {
        // Get the modal
        var modal = $("#myModal");

        // Get the <span> element that closes the modal
        var span = $(".close");

        // When the user clicks on <span> (x), close the modal
        span.click(function () {
            modal.hide();
        });

        // When the user clicks anywhere outside of the modal, close it
        $(window).click(function (event) {
            if (event.target == modal[0]) {
                modal.hide();
            }
        });

        // Show the modal when a button is clicked
        $("#walletButton").click(function () {
            const userId = $("#userId").data('user');
            $.ajax({
                url: "/user-wallet/" + userId,
                method: "get",
            }).done((res) => {
                document.getElementById("walletBalance").innerHTML = res;
            })

            modal.show();
        });

        $('.logout').click((e) => {
            e.preventDefault();
            $.ajax({
                type: 'get',
                url: '/logout',
            }).done((res) => {
                new swal("Logout successfull", `${res.message}`, "success").then(() => {
                    location.reload();
                })
            })

        })

    });


</script>