<!DOCTYPE html>
<html lang="en">


{{#if admin}}
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
	<meta charset="utf-8">
	<title>Evara Dashboard</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
	<!-- Template CSS -->
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>


{{else}}

<head>
	<meta charset="utf-8">
	<title>Evara - eCommerce HTML Template</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">
	<!-- Template CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />

	{{!-- my links --}}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	{{!-- payment intergration linkes --}}
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



</head>

{{/if}}

<body>

	{{#if admin}}
	{{>admin-header}}
	{{>admin_sidebar}}
	{{/if}}

	{{#if user}}
	{{>user-header}}
	{{else}}
	{{#if user_header}}
	{{>user-header}}
	{{/if}}
	{{/if}}


	{{{body}}}

	{{#if admin}}
	{{>admin-footer}}
	{{/if}}
	{{#if user}}
	{{>user-footer}}
	{{else}}
	{{#if user_header}}
	{{>user-footer}}
	{{/if}}
	{{/if}}


	{{#if admin}}

	{{!-- my script --}}
	<script src="/javascripts/adminScript.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
	<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/vendors/select2.min.js"></script>
	<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
	<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
	<script src="/assets/js/vendors/chart.js"></script>
	<!-- Main Script -->
	<script src="/assets/js/main.js" type="text/javascript"></script>
	<script src="/assets/js/custom-chart.js" type="text/javascript"></script>

	{{else}}
	{{!-- my script --}}
	<script src="/javascripts/script.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<script
		src="https://www.paypal.com/sdk/js?client-id=AVAoNPU15zJqf5MRI8KJpDLKK-kmlm3RR6F8RN9MLb1pkW7xSEXS2POZsHZcsxYZopqXMQhiS5MIOnBY&disable-funding=credit,card "
		data-namespace="paypal_sdk"></script>
	<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

	<!-- Vendor JS-->
	<script src="/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="/js/vendor/jquery-3.6.0.min.js"></script>
	<script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
	<script src="/js/vendor/bootstrap.bundle.min.js"></script>
	<script src="/js/plugins/slick.js"></script>
	<script src="/js/plugins/jquery.syotimer.min.js"></script>
	<script src="/js/plugins/wow.js"></script>
	<script src="/js/plugins/jquery-ui.js"></script>
	<script src="/js/plugins/perfect-scrollbar.js"></script>
	<script src="/js/plugins/magnific-popup.js"></script>
	<script src="/js/plugins/select2.min.js"></script>
	<script src="/js/plugins/waypoints.js"></script>
	<script src="/js/plugins/counterup.js"></script>
	<script src="/js/plugins/jquery.countdown.min.js"></script>
	<script src="/js/plugins/images-loaded.js"></script>
	<script src="/js/plugins/isotope.js"></script>
	<script src="/js/plugins/scrollup.js"></script>
	<script src="/js/plugins/jquery.vticker-min.js"></script>
	<script src="/js/plugins/jquery.theia.sticky.js"></script>
	<script src="/js/plugins/jquery.elevatezoom.js"></script>
	<!-- Template  JS -->
	<script src="/js/main.js"></script>
	<script src="/js/shop.js"></script>


	{{/if}}
</body>

</html>