<main class="main">
    <section class="home-slider position-relative pt-50">
        <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
            {{#each banners}}
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">{{this.title1}}</h4>
                                <h2 class="animated fw-900">{{this.title2}}</h2>
                                <h1 class="animated fw-900 text-brand">{{this.title3}}</h1>
                                <p class="animated">{{this.description}}</p>
                                <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html">
                                    {{this.tagName}}</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-1" src="/{{this.bannerImg}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
    </section>
    <section class="featured section-padding position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="/imgs/theme/icons/feature-1.png" alt="">
                        <h4 class="bg-1">Free Shipping</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="/imgs/theme/icons/feature-2.png" alt="">
                        <h4 class="bg-3">Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="/imgs/theme/icons/feature-3.png" alt="">
                        <h4 class="bg-2">Save Money</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="/imgs/theme/icons/feature-4.png" alt="">
                        <h4 class="bg-4">Promotions</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="/imgs/theme/icons/feature-5.png" alt="">
                        <h4 class="bg-5">Happy Sell</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="/imgs/theme/icons/feature-6.png" alt="">
                        <h4 class="bg-6">24/7 Support</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-tabs section-padding position-relative wow fadeIn animated">
        <div class="bg-square"></div>
        <div class="container">
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div id="productsContainer" class="row product-grid-4">
                        {{#each product}}
                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                            <div style="text-transform: capitalize;" class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/product/{{this._id}}">
                                            <img class="default-img" src="/{{this.product_images.[0].path}}" alt="">
                                            <img class="hover-img" src="/{{this.product_images.[1].path}}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            onclick="addToWishlist('{{this._id}}','{{../user._id}}')"><i
                                                class="fi-rs-heart"></i></a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html">{{this.product_category}}</a>
                                    </div>
                                    <h2><a href="shop-product-right.html">{{this.product_name}}</a></h2>
                                    <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span>Rs. {{this.product_price}}</span>
                                        <span class="old-price">Rs. {{this.product_price}}</span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <button type="button" aria-label="Add To Cart" class="action-btn hover-up"
                                            onclick="addToCart('{{this._id}}')" ><i
                                                class="fi-rs-shopping-bag-add"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <!--End product-grid-4-->
                </div>
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul id="paginationContainer" class="pagination justify-content-start">
                        </ul>
                    </nav>
                </div>
            </div>
            <!--End tab-content-->
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        const itemsPerPage = 8;
        const numItems = $('#productsContainer').children().length;
        const numPages = Math.ceil(numItems / itemsPerPage);
        
        // Create pagination links
        for (let i = 1; i <= numPages; i++) {
            $('<li class="page-item active"><a class="page-link" data-page="' + i + '" href="#">' + i + '</a></li>').appendTo('#paginationContainer');
        }

        // Bind click event to pagination links
        $('.page-link').click(function (e) {
            const currentPage = $(this).data('page');
            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            
            $('#productsContainer').children().hide().slice(startIndex, endIndex).show();
            return false;
        })
        // Show first page by default
        $('.page-link:first').addClass('active');
        $('#productsContainer').children().hide().slice(0, itemsPerPage).show();
    })
</script>