<main class="main">
	<div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="/" rel="nofollow">Home</a>
				<span></span> Fashion
				<span></span> Abstract Print Patchwork Dress
			</div>
		</div>
	</div>
	<section class="mt-50 mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="product-detail accordion-detail">
						<div class="row mb-50">
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="detail-gallery">
									<span class="zoom-icon"><i class="fi-rs-search"></i></span>
									<!-- MAIN SLIDES -->
									<div class="product-image-slider">
										{{#each product.product_images}}
										<figure class="border-radius-10">
											<img src="/{{this.path}}" alt="product image">
										</figure>
										{{/each}}
									</div>
									<!-- THUMBNAILS -->
									<div class="slider-nav-thumbnails pl-15 pr-15">
										{{#each product.product_images}}
										<div><img src="/{{this.path}}" alt="product image"></div>
										{{/each}}
									</div>
								</div>
								<!-- End Gallery -->
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="detail-info">
									<h2 class="title-detail">{{product.product_name}}</h2>
									<div class="product-detail-rating">
										<div class="pro-details-brand">
											<span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
										</div>
										
									</div>
									<div class="clearfix product-price-cover">
										<div class="product-price primary-color float-left">
											<ins><span class="text-brand">₹ {{product.product_price}}</span></ins>
											<ins><span class="old-price font-md ml-15"></span></ins>
											<span class="save-price  font-md color3 ml-15">25% Off</span>
										</div>
									</div>
									<div class="bt-1 border-color-1 mt-15 mb-15"></div>
									<div class="short-desc mb-30">
										<p>{{product.product_description}}</p>
									</div>
									<div class="product_sort_info font-xs mb-30">
										<ul>
											<li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand
												Warranty</li>
											<li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy
											</li>
											<li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
										</ul>
									</div>
									<div class="bt-1 border-color-1 mt-30 mb-30"></div>
									<div class="detail-extralink">
										<div class="product-extra-link2">
											<button onclick="addToCart('{{product._id}}')" type="button"
												class="button button-add-to-cart">Add to cart</button>
											<a aria-label="Add To Wishlist" onclick="addToWishlist('{{product._id}}','{{user._id}}')" class="action-btn hover-up"
												href="#"><i class="fi-rs-heart"></i></a>
										</div>
									</div>
								</div>
								<!-- Detail Info -->
							</div>
						</div>
						<div class="row mt-60">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>