<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{#if cartIsEmpty}}
                    <div class="container">
                        <div class="col-md-12 d-flex justify-content-center">
                            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                                alt="">
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <strong>
                                <p class="h3 my-4">Cart is Empty</p>
                            </strong>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <a class="btn  btn-sm" href="/">add product</a>
                        </div>

                    </div>
                    {{else}}
                    <div class="table-responsive">
                        <h1 id="cartIsEmpty"></h1>
                        <table id="cartTable" class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each product}}
                                <tr id="row{{this.product._id}}">
                                    <td class="image product-thumbnail"><img
                                            src="/{{this.product.product_images.[0].path}}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a
                                                href="/product/{{this._id}}">{{this.product.product_name}}</a></h5>
                                        <p class="font-xs">
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price">Rs. <span
                                            id="product-price-{{this.product._id}}">{{this.product.product_price}}</span>
                                    </td>
                                    <td class="text-center" data-title="Stock">
                                        <div class="detail-qty border radius  m-auto">
                                            <a id="dec"
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)"
                                                class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span id="{{this.product._id}}" class="qty-val">{{this.quantity}}</span>
                                            <a id="inc" class="qty-up"
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)"><i
                                                    class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">₹
                                        <span id="subtotal-{{this.product._id}}">{{mult this.product.product_price
                                            this.quantity}}</span>
                                    </td>
                                    <td class="action" data-title="Remove"><a
                                            onclick="removeCartProduct('{{this._id}}','{{this.product._id}}')"
                                            class="text-muted"><i class="fi-rs-trash"> </i></a></td>

                                </tr>
                                {{/each}}

                            </tbody>
                        </table>

                    </div>
                    {{/if}}
                    {{#if cartIsEmpty}}
                    {{else}}
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Apply Coupon</h4>
                                </div>
                                <div class="total-amount">
                                    <div class="left">
                                        <div class="coupon">
                                            <form id="coupon-apply-form">
                                                <div class="form-row row justify-content-center">
                                                    <div class="form-group col-lg-6">
                                                        <input class="font-medium" value="{{cart.coupon}}"
                                                            id="couponCode" name="code" placeholder="Enter Your Coupon">
                                                    </div>
                                                    <div id="couponBtns" class="form-group col-lg-6">
                                                        <button type="submit" class="btn  btn-sm"><i
                                                                class="fi-rs-label mr-10"></i>Apply</button>
                                                        {{#if cart.coupon}}
                                                        <button id="removeCouponBtn" type="button"
                                                            onclick="removeCoupon('{{cart._id}}')"
                                                            class="btn  btn-sm"><i class="fi-rs-trash">
                                                            </i>Remove</button>
                                                        {{/if}}
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span id="subTotalAmount"
                                                        class="font-lg fw-900 text-brand">Rs .{{totalAmount}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Coupon discount</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i>- <span
                                                        id="discountAmount">{{cart.discount}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span id="totalAmount"
                                                            class="font-xl fw-900 text-brand">Rs.{{totalAfterDiscount
                                                            totalAmount cart.discount}}</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/place-order" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                                    CheckOut</a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $('#coupon-apply-form').submit((e) => {
            e.preventDefault();
            const couponCode = $('#couponCode').val();
            $.ajax({
                url: '/api/user/coupon/?code=' + couponCode,
                type: 'put',
            }).done(res => {
                if (res.error) {
                    swal('Failed', `${res.message}`, 'error')
                } else {
                    swal('Applied', `${res.message}`, 'success')
                    document.getElementById('discountAmount').innerHTML = ''
                    document.getElementById('discountAmount').innerHTML = res.cart.discount
                    document.getElementById('totalAmount').innerHTML = ''
                    document.getElementById('totalAmount').innerHTML = 'Rs.' + res.cart.totalAmount;
                    $(`<button id="removeCouponBtn" type="button"
                                                            onclick="removeCoupon('${res.cart._id}')"
                                                            class="btn  btn-sm"><i class="fi-rs-trash">
                                                            </i>Remove</button>`).appendTo('#couponBtns')
                }
            }).fail(err => {
                swal('Failed', `${err.responseJSON.message}`, 'error').then(() => {
                    location.reload();
                })
            })
        })
    })

    function removeCoupon(cartId) {
       
        swal("Are you sure you want to do this?", {
            buttons: ["No", "Yes"],
        }).then((res) => {
            if (res) {
                $.ajax({
                    url: '/api/user/coupon/?cartId=' + cartId,
                    type: 'delete'
                }).done(res => {

                    if (res.error) {
                        swal(`Failed! ${res.message}!`, {
                            icon: "error",
                        })
                    } else {
                        swal(`Ok! ${res.message}!`, {
                            icon: "success",
                        }).then(() => {
                            document.getElementById('couponCode').value = ''
                            document.getElementById('discountAmount').innerHTML = ''
                            document.getElementById('discountAmount').innerHTML = res.cart.discount
                            document.getElementById('totalAmount').innerHTML = ''
                            document.getElementById('totalAmount').innerHTML = 'Rs.' + res.cart.totalAmount;
                            $('#removeCouponBtn').remove();
                        })
                    }
                }).fail(err => {
                    swal('Failed', `${err.responseJSON.message}`, 'error').then(() => {
                        location.reload();
                    })
                })
            }
        })
    }
</script>