<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>
    <section class="pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                            href="#dashboard" role="tab" aria-controls="dashboard"
                                            aria-selected="false"><i
                                                class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                            role="tab" aria-controls="orders" aria-selected="false"><i
                                                class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                            role="tab" aria-controls="address" aria-selected="true"><i
                                                class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="coupon-detail-tab" data-bs-toggle="tab"
                                            href="#coupon-detail" role="tab" aria-controls="coupon-detail"
                                            aria-selected="true"><i class="fi-rs-user mr-10"></i>My coupons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content dashboard-content">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                    aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Hello {{user.name}}! </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>From your account dashboard. you can easily check &amp; view your <a
                                                    href="#">recent orders</a>, manage your <a href="#">shipping and
                                                    billing addresses</a> and <a href="#">edit your password and account
                                                    details.</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="history-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl.No</th>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Expect</th>
                                                            <th>Total</th>
                                                            <th>Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="ordersContainer">
                                                        {{#each orderDetails}}
                                                        <tr id="{{this._id}}">
                                                            <td>{{inc @index}}</td>
                                                            <td>{{this._id}}</td>
                                                            <td>{{this.dateOfOrder}}</td>
                                                            <td>{{this.dateOfFullfilment}}</td>
                                                            <td>Rs. {{this.totalAmount}}</td>
                                                            <td><span
                                                                    class="badge rounded-pill alert-{{paymentStatus this.status}}">{{this.status}}</span>
                                                            </td>
                                                            {{!-- <td><button onclick="cancelOrder('{{this._id}}')"
                                                                    class=" btn btn-sm d-block">Cancel</button></td>
                                                            --}}
                                                            <td>
                                                                <a href="/api/user/settings/{{this._id}}"
                                                                    class="btn-small d-block">View</a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="pagination-area mt-15 mb-50">
                                                <nav aria-label="Page navigation example">
                                                    <ul id="paginationContainer"
                                                        class="pagination justify-content-start">
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div id="addressContainer" class="row">
                                        {{#each addresses}}
                                        <div id="{{this._id}}" class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Billing Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <p class="h6">{{this.full_name}}</p>
                                                    <p>{{this.email_id}}</p>
                                                    <address>{{this.address_line_1}}<br> {{this.city}},<br>
                                                        {{this.state}}.
                                                        <br>{{this.country}}, {{this.pin_code}}
                                                    </address>
                                                    <p>New York</p>
                                                    <a href="#" onclick="getAddress('{{this._id}}')"
                                                        class="btn-small m-1"><i class="fi-rs-edit">
                                                        </i>Edit</a>
                                                    <a href="#" onclick="deleteAddress('{{this._id}}')"
                                                        class="btn-small m-1 text-danger"><i class="fi-rs-trash">
                                                        </i>Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="coupon-detail" role="tabpanel"
                                    aria-labelledby="coupon-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Available Coupons</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="addressContainer" class="row">
                                                {{#each coupons}}
                                                <div id="{{this._id}}" class="col-lg-6">
                                                    <div class="card mb-3 mb-lg-0">
                                                        <div class="card-header">
                                                            <span>Coupon code:<h3 class="mb-0" id="text-{{this._id}}">
                                                                    {{this.code}}
                                                                    </h5></span>
                                                        </div>
                                                        <div class="card-body">
                                                            <button id="copy-coupon-{{this._id}}"
                                                                onclick="copyCoupon('{{this._id}}')"
                                                                class="btn btn-primary btn-small m-1">Copy code</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
<script>
    function copyText(htmlElement) {

        if (!htmlElement) {
            return;
        }
        let elementText = htmlElement.innerText;

        let inputElement = document.createElement('input');
        inputElement.setAttribute('value', elementText);
        document.body.appendChild(inputElement)
        inputElement.select();
        console.log('clicked')
        document.execCommand('copy')
        inputElement.parentNode.removeChild(inputElement)

    }

    function copyCoupon(couponId) {
        copyText(document.querySelector('#text-' + couponId));
        setTimeout(function () {
            document.querySelector('#copy-coupon-' + couponId).innerHTML = 'Copy code'
        }, 2000)
        document.querySelector('#copy-coupon-' + couponId).innerHTML = 'Copie'
    }

</script>

<script>
    $(document).ready(function () {
        const itemsPerPage = 10;
        const numItems = $('#ordersContainer').children().length;
        const numPages = Math.ceil(numItems / itemsPerPage);

        // Create pagination links
        for (let i = 1; i <= numPages; i++) {
            $('<li class="page-item active"><a class="page-link" data-page="' + i + '" href="#">' + i + '</a></li>').appendTo('#paginationContainer');
        }

        // Bind click event to pagination links
        $('.page-link').click(function (e) {
            const currentPage = $(this).data('page');
            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            console.log(startIndex, endIndex);
            $('#ordersContainer').children().hide().slice(startIndex, endIndex).show();
            return false;
        })
        // Show first page by default
        $('.page-link:first').addClass('active');
        $('#ordersContainer').children().hide().slice(0, itemsPerPage).show();
    })
</script>

{{!-- modal start --}}

<style>
    #addressModal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 9999;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .modalAddress-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }

    .modalAddress {
        max-width: 100%;
    }

    .closeAddress {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .closeAddress:hover,
    .closeAddress:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<div id="addressModal" class="modalAddress">
    <div class="modalAddress-content">
        <span class="closeAddress">&times;</span>
        <main class="main">
            <div class="container">

                <div class="mb-25">
                    <h4>Enter Address</h4>
                </div>
                <form action="" id="update-address">
                    <div class="form-group">
                        <input type="text" id="address-name" required="" name="full_name" placeholder="First name *" />
                    </div>
                    <div class="form-group">
                        <div class="custom_select">
                            <select id="address-country" name="country" class="form-control select-active">
                                <option value="">Country</option>
                                <option value="AX">Aland Islands</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="PW">Belau</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="VG">British Virgin Islands</option>
                                <option value="BN">Brunei</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo (Brazzaville)</option>
                                <option value="CD">Congo (Kinshasa)</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">CuraÇao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="CI">Ivory Coast</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao S.A.R., China</option>
                                <option value="MK">Macedonia</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="KP">North Korea</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PS">Palestinian Territory</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="QA">Qatar</option>
                                <option value="IE">Republic of Ireland</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="ST">São Tomé and Príncipe</option>
                                <option value="BL">Saint Barthélemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="SX">Saint Martin (Dutch part)</option>
                                <option value="MF">Saint Martin (French part)</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="SM">San Marino</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia/Sandwich Islands</option>
                                <option value="KR">South Korea</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syria</option>
                                <option value="TW">Taiwan</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom (UK)</option>
                                <option value="US">USA (US)</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vatican</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="WS">Western Samoa</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="address-phone" required="" type="text" name="phone_number" placeholder="Phone *" />
                    </div>
                    <div class="form-group">
                        <input id="address-email" required="" type="text" name="email_id"
                            placeholder="Email address *" />
                        <input type="text" name="addressId" id="addressId" value="" hidden />
                    </div>
                    <div class="form-group">
                        <input type="text" id="address-address" name="address_line_1" required=""
                            placeholder="Address *" />
                    </div>
                    <div class="form-group">
                        <input required="" type="text" id="address-city" name="city" placeholder="City / Town *" />
                    </div>
                    <div class="form-group">
                        <input required="" type="text" id="address-state" name="state" placeholder="State / County *" />
                    </div>
                    <div class="form-group">
                        <input required="" type="text" id="address-pincode" name="pin_code"
                            placeholder="Postcode / ZIP *" />
                    </div>
                    <div>
                        <button type="submit" class="btn hover-up bg-dark btn-sm">Update
                            Address</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#update-address').submit((e) => {
            e.preventDefault();
            const addressId = $('#addressId').val();
            $.ajax({
                url: '/api/user/address/' + addressId,
                type: 'put',
                data: $('#update-address').serialize()
            }).done(res => {
                $(`#${addressId}`).remove();
                $(`<div id="${res.updated._id}" class="col-lg-6">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-header">
                                <h5 class="mb-0">Billing Address</h5>
                            </div>
                            <div class="card-body">
                                <p class="h6">${res.updated.full_name}</p>
                                <p>${res.updated.email_id}</p>
                                <address>${res.updated.address_line_1}<br> ${res.updated.city},<br>
                                    ${res.updated.state}.
                                    <br>${res.updated.country}, ${res.updated.pin_code}
                                </address>
                                <p>New York</p>
                                <a href="#" onclick="getAddress('${res.updated._id}')"
                                    class="btn-small m-1">Edit</a>
                                <a href="#" onclick="deleteAddress('${res.updated._id}')"
                                    class="btn-small m-1 text-danger">Delete</a>
                            </div>
                        </div>
                    </div>`).appendTo('#addressContainer');
                modalAddres.hide();
                swal("Ok! The address has been updated!", {
                    icon: "success",
                });
            }).fail(err => {
                swal("Error", `${res.responseJSON.message}`, "error")
            })
        })
    })
</script>


<script>
    var modalAddres = $("#addressModal");

    // Get the <span> element that closes the modal
    var spanAddress = $(".closeAddress");

    // When the user clicks on <span> (x), close the modal
    spanAddress.click(function () {
        modalAddres.hide();
    });

    // When the user clicks anywhere outside of the modal, close it
    $(window).click(function (event) {
        if (event.target == modalAddres[0]) {
            modalAddres.hide();
        }
    });

    function getAddress(addressId) {

        fetch('/api/user/address/' + addressId)
            .then(response => response.json())
            .then(data => {

                $('#address-name').val(data.address.full_name)
                $('#address-country').val(data.address.country)
                $('#address-phone').val(data.address.phone_number)
                $('#address-email').val(data.address.email_id)
                $('#address-address').val(data.address.address_line_1)
                $('#address-city').val(data.address.city)
                $('#address-state').val(data.address.state)
                $('#address-pincode').val(data.address.pin_code)
                $('#addressId').val(data.address._id);
                modalAddres.show();
            })
            .catch(error => {
                swal("Error", `${res.responseJSON.message}`, "error")
            });
    }


    function deleteAddress(addressId) {

        swal("Are you sure you want to do this?", {
            buttons: ["No!", "Yes!"],
        }).then(res => {
            if (res) {
                $.ajax({
                    url: '/api/user/address/' + addressId,
                    type: 'delete'
                }).done(res => {
                    $(`#${addressId}`).remove();
                    swal("Ok! The address has been deleted!", {
                        icon: "success",
                    });

                }).fail(err => {
                    swal("Error", `${res.responseJSON.message}`, "error")
                })
            }
        })
    }
</script>